.email-view-page-header{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper{
    display: grid;
    gap: 1rem;
    grid-template-columns: 35% 62%;
}
