:root {
    /* colors */
    --accent: #e54065;
    --white: #ffffff;
    --black: #000000;
    --background: #f4f5f9;
    --border: #cfd2dc;
    --text: #636363;
    --filter-btn: #e1e4ea;
    --card-background: #ffffff;
    --read-background: #f2f2f2;
}